@import "tailwindcss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(240, 240, 240);
}

.body {
  min-height: 100vh;
  /* background: linear-gradient(rgb(145, 145, 145), rgb(178, 178, 178)); */
  background: url(./app/assets/8e2ac824-f4ae-467b-9291-81209c7163b7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  scrollbar-color: rgb(0, 198, 0) gray;
}
