@import "tailwindcss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(188, 188, 188);
}

body {
  min-height: 100vh;
  background: linear-gradient(rgb(168, 168, 168), rgb(150, 150, 150));
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  scrollbar-color: rgb(0, 198, 0) gray;
}
